/* Styles go here */
.id {
  border-radius: 50%;
}

.network {
  width: 125px;
  height: 43px;
  color: #FFFFFF;
  background-color: black;
  border: 1mm ridge #fff;
}

.balance {
  width: 125px;
  height: 43px;
  color: #FFFFFF;
  background-color: black;
  border: 1mm ridge #fff;
}

.account {
  width: 150px;
  height: 43px;
  color: #fff;
  background-color: black;
  border: 1mm ridge #fff;
}

.bgDark7 {
  background-color: black;
}

.navBorderBottom{
  border-bottom: 1mm ridge rgba(255, 255, 255, 0.8)
}

.loading{
  height: 1440px;
  background-color: black;
}

p {
  margin: 5px
}